/* CSS file placeholder. */
body {
  margin-top:0px;
}
.top-banner {
	height:15px;
  text-align:left;
  font-size:16px;
  background:#eee;
  padding-top:14px;
  padding-left:20px;
  padding-bottom:12px;
  -webkit-app-region: drag;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:0px;
  border-left:1px solid #aaa;
  border-bottom:1px solid #aaa;
  position:fixed;
  top:0px;
  right:0px;
  z-index:1003;
  width:49%;
  box-shadow:1px 1px 2px #aaa;
}


/* class */
.frame-icon {
  width:16px;
  height:16px;
  float:right;
  margin-right:10px;
  color:lightgray;
  cursor:pointer;
  -webkit-app-region: no-drag;
}

.frame-icon.op {
  width:18px;
  height:18px;
  opacity:0.6;
}

.frame-icon.op.focus {
  opacity:0.3;
}

.op-span {
/* position: relative; */
/* top: -70px; */
/* right: -260px; */
height: 41px;
width: 100px;
background: rgba(228, 229, 228, 1);
float: right;
margin-top: -35px;
margin-right: 130px;
border-left: 1px solid rgb(198, 196, 196);
border-right: 1px solid rgb(198, 196, 196);
display:none;
}

.max.op-span {
margin-top: -17px;
margin-right: -88px;
height: 44px;
display:block;
}


.frame-icon.op:hover {
  opacity:0.7;
}

.frame-pop {
  right:0px;
  top:0px;
  background:#e6e4e4;
  color:black;
  width:550px;
  height:200px;
  z-index:1002;
  position:fixed;
  display:block;
  border:0px solid #aaa;
  box-shadow:-1px 2px 3px #aaa;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  display:none;
}


.top-masker {
  z-index:1100;
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.3);
  cursor:pointer;
  display:none;
}

.top-masker img{
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.frame-mask {
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.3);
  z-index:1001;
  cursor:pointer;
  display:none;
}




/* Loader */

#user_info {
	font-size: 9px;
	color: rgba(0,0,0,0.3);
	text-shadow: rgba(231, 174, 197, 0.3) 1px 1px;
	margin-left:18px;
	cursor:pointer;
}

#user_info a {
	font-size: 9px;
	color: rgba(0,0,0,0.3);
	text-shadow: rgba(231, 174, 197, 0.3) 1px 1px;
	text-decoration: none;
}
#user_info a:hover {
	color: rgba(0,0,0,0.3);
}
#user_info a:active {
	color: rgba(0,0,0,0.3);
}
#user_info a:visited {
	color: rgba(0,0,0,0.3);
}

#user_info .ajax-loader img{
	width:50px;
	height:10px;
	opacity:0.3;
}

.frame-pop .ajax-loader img{
  position:fixed;
	top: 170px;
	right: 230px;
	opacity: 0.3;
  width:50px;
  height:15px;
}

.frame-pop .ajax-loader{
	display:none;
}

/* id */
#list {
  margin-right:40px;
}

#post-table {
	margin-top: 50px;
	margin-left: 60px;
	border: 0px solid grey;
	width: 450px;
}

#post-table tr {
	background:rgba(0,0,0,0.0);
}

#post-table td.label {
	padding-left:20px;
	color:#333;
	text-shadow:white 1px 1px;
}
#post-table td.content {
	width:150px;
}
#post-table input:hover,
#post-table input:focus,
#post-table select:hover,
#post-table select:focus,
#post-table textarea:hover,
#post-table textarea:focus
{
	border: solid 1px #333;
	outline: none;
}

#post-table input,
#post-table textarea,
#post-table select {
	padding-top: 5px;
	padding-left:5px;
	padding-bottom:4px;
	width: 100%;
	color: #333;
	font-size: 12px;
	border: solid 1px #ddd;
}

#post-table input[type="checkbox"]
 {
  width:auto;
  margin-top:8px;
}


#post-table td.submit {
	text-align: center;
}

#post-table td .send {
	display: inline-block;
	background: #3FAE5F;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	color: #fff;
	padding: 6px 28px;
	border: none;
	outline: none;
	float: right;
	clear: none;
	margin-top: 5px;
	height: 11px;
	margin-right: -4px;
}

#post-table td .send:hover {
	border: none;
	outline: none;
	background: #333;
	cursor: pointer;
}


#plist-table{
  margin-top: 50px;
  width:500px;
  margin-left: 50px;
}

#plist-table table{
	margin-top:60px;
  width: 90%;
}

#plist-table tr {
  width:100%;
  padding-top:3px;
}

#plist-table td {
  width:160px;
  text-align:center;
  font-size:12px;
  background:#eeeeee;
  /*height:35px;*/
}

#plist-table td div{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:240px;
  cursor:pointer;
	color:grey;
  text-shadow:rgb(250, 247, 247) 1px 1px;
  text-align:right;
}

#plist-table td.ind {
  width:10px;
	background:#e6e4e4!important;
	color:floralwhite;
}

#plist-table td.date {
  width:80px;
  text-align:left;
  padding-left:20px;
  font-size: 11px;
  color: rgb(98, 99, 101);
}

#plist-table table tr:nth-child(even) td{
  background:#eee;
}

.frame-pop #tool-banner{
  border: 0px solid grey;
  height: 200px;
  width:50px;
  position:fixed;
  top:40px;
  right:0px;
}

.frame-pop #refresh {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  cursor: pointer;
  margin-top: 10px;
  margin-left:12px;
}

.frame-pop #refresh:hover {
  opacity: 0.7;
}

#label-banner {
font-size: 12px;
/* font-style: italic; */
position: fixed;
right: 3px;
top: 175px;
color: #DC8C59;
text-shadow: rgb(250, 247, 247) 1px 1px;
-webkit-transform: rotate(-25deg);
}


.meltdown_topmargin {
	margin-bottom: 25px;
}
.meltdown_preview-header{
  background: #DBF9E2;
  color: #rgba(255,255,255,0);
  border-bottom-color: #DBF9E2;
}

.meltdown_wrap.fullscreen {
	margin-left: 20px;
  margin-right: 20px;
  background: white;
}

.meltdown_editor {
  font-size:16px;
  line-height: 25px;
  margin-top:15px;
  font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", serif;

}

.meltdown_editor-deco {
  border-color:white;
  border: 1px solid #fff;
}

.meltdown_preview {
  font-size:12px;
  line-height:25px;
  background:#DBF9E2;
  border-color:white;
  padding-top:30px;
  padding-left:20px;
  padding-right:20px;
}

textarea:focus {
  outline:none!important;
}

.meltdown_resizehandle.meltdown_resizehandle-vert.meltdown_resizehandle-horiz {
  display:none;
}

.meltdown_preview img {
	width:90%;
	margin-left:5%;
	border-radius:10px;
}
.meltdown_preview img.picloader {
	width:36px;
	margin-left:48%;
	margin-top:50px;
	margin-bottom:50px;
}

.posttitle {
	position: fixed;
	top: 2px;
	left: 10px;
	z-index: 1001;
	font-size: 40px;
	color: rgba(0,0,0,0.2);
	width:50%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.notification {
	z-index: 1004;
	position: fixed;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 2px;
	/* border: 1px solid #D1C7C7; */
	color: rgb(111, 107, 107);
	right: 0px;
	bottom: 0px;
}

.notification.info {
	background: rgb(136, 243, 132);
}
.notification.error {
	background: lightpink;
	color:white;
}

td.ind {
	cursor:pointer;
}

/* Preview */
.meltdown_preview a{
  color: darkblue;
  text-decoration: none;
  cursor: auto;
}

.meltdown_preview {
 font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
 font-size: 16px;
}

#plist-table a {
  color: grey;
  text-decoration: none;
	cursor:pointer;
}